@page
@model ProductsWebApp.Pages.Products.IndexModel
@{
}


<h2>List of Products in Store</h2>
<a class="btn btn-primary btn-sm" href="/Products/Create">New</a>
<table class="table table-striped table-bordered table-hover mt-2">
    <thead class="">   
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Products is not null) {
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.ProductName</td>
                    @if(product.Quantity > 30)
                    {
                        <td class="table-success">@product.Quantity</td>
                    }
                    else
                    {
                        <td class="table-warning">@product.Quantity</td>
                    }
                    <td>@product.Price</td>
                    <td>
                        <a class="btn btn-secondary btn-sm" href="/Products/Update?id=@product.Id">Edit</a>
                        <a class="btn btn-danger btn-sm" href="/Products/Delete?id=@product.Id">Delete</a>
                    </td>
                </tr>

               

            }
        }
    </tbody>
</table>

