@page
@model ProductsWebApp.Pages.Products.UpdateModel
@{
}

<h2 class="mb-3">Update Student</h2>
@if (!Model.ErrorMessage.Equals(""))
{
    <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
}
@if (!Model.SuccessMessage.Equals(""))
{
    <div class="alert alert-success" role="alert">@Model.SuccessMessage</div>
}

<form method="POST">
    <input type="hidden" name="id" value="@Model.productDTO.Id" />
     <div class="row mb-3">
        <label for="productName" class="col-md-1 col-form-label">Όνομα Προιόντος</label>
        <div class="col-md-6">
            <input type="text" class="form-control" name="productName" id="productName" 
                    placeholder="Enter product name" value="@Model.productDTO.ProductName" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="quantity" class="col-md-1 col-form-label">Ποσότητα</label>
        <div class="col-md-6">
            <input type="text" class="form-control" name="quantity" id="quantity" 
                    placeholder="Enter quantity" value="@Model.productDTO.Quantity" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="price" class="col-md-1 col-form-label">Τιμή</label>
        <div class="col-md-6">
            <input type="text" class="form-control" name="price" id="price" 
                    placeholder="Enter price" value="@Model.productDTO.Price" />
        </div>
    </div>
    <div class="row mb-3">
         <div class="col-md-1 d-grid">
            <a href="/Products/Index" role="button" class="btn btn-light">Return</a>
        </div>
        <div class="col-md-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-md-3 d-grid">
            <a href="/Products/Index" role="button" class="btn btn-outline-primary">Cancel</a>
        </div>
    </div>
</form>
